# Ignore certain directories
build/
bin/
scratch/

# Ignore certain files
.env
.secrets
scratch*
*debug_bin*
*.DS_Store
.~lock*

# -----------------------------------------------------------------
# Go gitignore
# https://github.com/github/gitignore/blob/main/Go.gitignore
# -----------------------------------------------------------------

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Go workspace file
go.work

# Local go mod vendor ignore
vendor/
